.App {
  text-align: center;
}

.fondo {
  margin-left: auto;
  margin-right: auto;
  background-image: url("../public/Diagrama web.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  position: relative;
}

.boton 
{
  position:absolute;
}

.pintado {
  top: 131px;
  left: 161px;
}

.carga {
  top: 147px;
  left: 52px;
}
.descarga {
  top: 144px;
  left: 210px;
}
.prepCarro {
  top: 236px;
  left: 248px;
}
.colgado {
  top: 236px;
  left: 308px;
}
.horno {
  top: 309px;
  left: 246px;
}
.movMaterial {
  top: 229px;
  left: 117px;
}
.movCarro {
  top: 261px;
  left: 148px;
}
.movimiento {
  top: 292px;
  left: 152px;
}
